/*MENU*/
nav {
    width: 100%;
}
.menu {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(226, 225, 225);
}
.menu ul {
    list-style-type: none;
}
nav > h2{
    margin-top: 10px;
    margin-bottom: 15px;
}
a {
    text-decoration: none;
}

ul{
    display: flex;
    flex-direction: column;
}
.enlace {
    color: #ffffff;
    display: inline-block;
    padding: 5px;
    font-size: 19px;
    font-weight: bold;
    background-color: #717b7a;
    text-align: center;
    padding-top: 16px;
    padding-bottom: 16px;
    border: solid 1px black;

}
.enlace:hover {
    background-color: #cbe6e2;
    color: black;
}

/* HEADER */
.cabecera {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 14vh;
    width: 100%;
    background-color: #1b1b1b;
    color: #ffffff;
    padding: 10px;
}
header {
    width: 100%;
    height: 100%;
}

.encabezado {
    display: grid;
    grid-template-columns: 65px calc(100% - 130px) 65px;
    width: 100%;
}
.imagen-encabezado {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#logo{
    width: 45px;
    height: 45px;
}
.titulo {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
}
.carrito{
    display: flex;
    align-items: center;
    justify-content: center;
}

.carrito > i{
    font-size: 32px;
}
#logo:hover,.fa-shopping-cart:hover{
    cursor: pointer;
}

@media screen and (min-width:768px){
    .titulo {
        font-size: 25px;
    }
    .encabezado {
        display: grid;
        grid-template-columns: 90px calc(100% - 200px) 110px;
        width: 100%;
    }
    ul{
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        background-color: #717b7a;
    }
    #logo{
        width: 70px;
        height: 70px;
    }
    .carrito > i{
        font-size: 40px;
    }
}
@media screen and (min-width: 1024px) {
    .titulo {
        font-size: 30px;
    }
    
}
@media screen and (min-width: 1200px) {
    .titulo {
        font-size: 32px;
    }
}
/* END HEADER */


/* FOOTER */

footer {
    align-items: center;
    min-height: 50px;
    font-size: 20px;
    width: 100%;
    font-weight: bold;
    background-color: #1b1b1b;
    color: #ffffff;
    min-height: 8vh;
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 10px;
}
/*end footer*/
