/*MENU*/
nav {
    width: 100%;
}
.menu {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    /*padding: 16px 20px;*/
    background-color: rgb(226, 225, 225);
    /*width: 240px;*/
    /*row-gap: 15px;*/
}
.menu ul {
    list-style-type: none;
}
nav > h2{
    margin-top: 10px;
    margin-bottom: 15px;
}
a {
    text-decoration: none;
}
ul{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    background-color: #717b7a;
}
.enlace {
    color: #ffffff;
    display: inline-block;
    padding: 5px;
    font-size: 19px;
    font-weight: bold;
    background-color: #717b7a;
    text-align: center;
    padding-top: 16px;
    padding-bottom: 16px;
    border: solid 1px black;

}
.enlace:hover {
    /*background-color: #eeeeee;*/
    background-color: #cbe6e2;
    color: black;
}

/* HEADER */
.cabecera {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 14vh;
    width: 100%;
    /*background-color: #02b8b8;*/
    background-color: #1b1b1b;
    color: #ffffff
}
header {
    width: 100%;
    height: 100%;
}

.encabezado {
    display: grid;
    grid-template-columns: 90px calc(100% - 200px) 110px;
    width: 100%;
}
.imagen-encabezado {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#logo{
    width: 70px;
    height: 70px;
}
.titulo {
    display: flex;
    align-items: center;
    justify-content: center;
}
.carrito{
    display: flex;
    align-items: center;
    justify-content: center;
}
.carrito > i{
    font-size: 40px;
}

#logo:hover,.fa-shopping-cart:hover{
    cursor: pointer;
}

@media screen and (min-width:768px){
    .titulo {
        font-size: 25px;
    }
}
@media screen and (min-width: 481px) and (max-width: 767px) {
    .titulo {
        font-size: 22px;
    }
}
@media screen and (max-width: 480px) {
    .titulo {
        font-size: 16px;
    }
    .contenido {
        min-height: 78vh;
        max-height: auto;
        display: flex;
        flex-direction: column;
    }
    ul{
        display: flex;
        flex-direction: column;
    }
    
}
@media screen and (max-width: 290px) {
    .encabezado {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    
    
}
/* END HEADER */


/* FOOTER */

footer {
    align-items: center;
    min-height: 50px;
    font-size: 20px;
    width: 100%;
    font-weight: bold;
    /*background-color: #02b8b8;*/
    background-color: #1b1b1b;
    color: #ffffff;
    min-height: 8vh;
    display: flex;
    text-align: center;
    justify-content: center;
}
/*end footer*/
