* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
	scroll-behavior: smooth;
}
/*
.contenido {
    min-height: 78vh;
    max-height: auto;
    display: flex;
    flex-direction: column;
    background-color: #454951
}
*/
.contenido {
    min-height: 78vh;
    max-height: auto;
    display: flex;
    flex-direction: column;
}
/* MENÚ DE CATEGORÍAS */


.conteiner-generos {
    background-color: #454951;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 1%;
    flex-direction: column;
    display: flex;
    width: 100%;
    padding-bottom: 20px;
}
section {
    padding: 10px;
}
/* TÍTULO DEL GÉNERO */
.titulo-genero{
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 30px;
    border-top: 1px solid rgb(218, 218, 218);
    border-bottom: 1px solid rgb(218, 218, 218);
    box-shadow: 0px 0px 6px rgba(0,0,0,0.3);
    background-color: #1b1b1b;;
    color: rgb(235, 235, 235);
}

h4 {
    text-align: center;
    padding: 5px;
}

/* FIN TÍTULO DEL GÉNERO */

/* CONTENEDOR DE LOS ARTÍCULOS DE UN GÉNERO */
.conteiner-trago {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30vh, 1fr));
    grid-auto-rows: minmax(320px, auto);
    grid-row-gap: 15px;
    grid-column-gap: 15px;
    padding-top: 15px;
}

/* ARTICULOS */
article {
    margin: 0 auto;
    /*background-color: rgb(226, 225, 225);*/
    transition: transform 0.3s ease-in-out;
}

article:hover {
    transform: scale(1.06);
    border-radius: 9px;
}

.trago {
    border-radius: 9px;
    padding: 10px;
    /*box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.3)*/
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 80% 20%;
    background-color: #1b1b1b;;
}
/*.artista:hover {
    background-color: #02b8b8;
}*/
.imagen {
    border-bottom: 1px solid rgba(0, 0, 0, .125);
    text-align: center;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    max-width: 290px;
}

.foto {
    width: 100%;
    height: 100%;
}

.descripcion{
    display: flex;
    align-items: center;
    justify-content: center; 
    flex-direction: column;

}

.descripcion > p{
    margin-top: 5px;
    font-size: 14px;
    font-weight: bold;
    text-overflow: ellipsis;
    overflow: hidden;
    color:rgb(218, 218, 218);
}

.precio{
    display: flex;
    align-items: center;
    justify-content: center; 
    color:rgb(218, 218, 218);  
}

.precio, .valor > p{
    margin-top: 5px;
    font-size: 14px;
    font-weight: bold;
    text-overflow: ellipsis;
    overflow: hidden;
}

/* FIN ARTICULOS -*/








/* BUSCADOR */

.header-buscador {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    padding-top: 2%;
}

.container-buscador {
    width: 100%;
    height: auto;
    /*display: grid;*/
    justify-content: center;
    padding-bottom: 2%;
    padding-top: 2%;
    
}

.filtro-busqueda{
    display: flex;
    justify-content: center;
    padding: 10px;
}

.tipo-busqueda{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}


.buscar {
    display: flex;
    justify-content: center;
    align-items: center;
    /*position: absolute;*/
    background: #f1efef;
    padding: 10px;
    height: 40px;
    border-radius: .6rem;
    width: 90%;
    border: solid 1px gray;
}

.texto {
    width: 100%;
}
/*Más oscuro el texto del placeholder*/
::-webkit-input-placeholder {
    color: rgb(24, 23, 23);
    font-style: italic;
}

.buscar-texto {
    border: none;
    background: none;
    outline: none;
    font-size: 19px;
    font-weight: lighter;
    float: left;
    line-height: 60px;
    width: 100%;
    padding-left: 3%;
}

.boton {
    width: 35px;
    height: 35px;
    text-decoration: none;
    color: #493c33;
    font-size: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}



.boton:hover {
    color: black;
}

.texto-libros-mostrados {
    padding-top: 7px;
    font-size: 18px;
    padding-left: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.texto-busqueda{
    text-align: center;
}

.button-view{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 1%;
    background-color: #454951;
}
.ver-mas{
    font-size: 20px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border-radius: 5px;
    padding: 4px;
    border: solid 1px rgb(0, 0, 0);
    margin-top: 3px;
}
.ver-mas:hover{
    background-color: rgb(71, 207, 89);
    color: rgb(0, 0, 0);
    font-weight: bold;
}




#view-trago{
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgb(218, 218, 218);
    border-bottom: 1px solid rgb(218, 218, 218);
    background-color: #1b1b1b;
    color: rgb(235, 235, 235);
    font-weight: bold;
    font-size: 18px;
    padding: 15px;
    margin-bottom: 10px;
}

#buscx, #conalcohol, #selcat{
    color: rgb(235, 235, 235);
    background-color: #1b1b1b;
    border-top: 1px solid rgb(218, 218, 218);
    border-bottom: 1px solid rgb(218, 218, 218);
    border-left: 1px solid rgb(218, 218, 218);
    border-right: 1px solid rgb(218, 218, 218); ;
    font-weight: bold;
    font-size: 15px;
    padding: 5px;
}



#alcohol, #categoria{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
    column-gap: 10px;
    row-gap: 10px;
    padding-bottom: 15px;
    width: 100%;
    text-align: center;
}



.nombre-trago{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 15px;
}
.nombre-trago> p{
    font-weight: bold;
    font-size: 18px;
    font-weight: bold;
    text-overflow: ellipsis;
    overflow: hidden;
    color:rgb(255, 255, 255);
}
.nombre-trago> p{
    font-weight: bold;
    font-size: 18px;
    font-weight: bold;
    text-overflow: ellipsis;
    overflow: hidden;
    color:rgb(255, 255, 255);
    border-top: 1px solid rgb(218, 218, 218);
    border-bottom: 1px solid rgb(218, 218, 218);
    background-color: #1b1b1b;;
    color: rgb(235, 235, 235);
    padding: 5px;
    width: 100%;
    text-align: center;
}